{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}

	<h1>Dashboard admin</h1>
	<ul class="list-center">
		<li>
			<a href="{{path('app_admin_article_index')}}">Articles</a>
		</li>
		<li>
			<a href="{{path('app_admin_category_index')}}">Categories</a>
		</li>
		<li>
			<a href="{{path('app_admin_product_index')}}">Products</a>
		</li>
		<li>
			<a href="{{path('app_admin_user_index')}}">Users</a>
		</li>
	</ul>

{% endblock %}
