* {
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5465FF;
    --font-color: #333;
    --revert-font-color: #fff;
    --bg-color: lightgray;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul,
li {
    list-style: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .15s;
}

a:hover {
    border-bottom: 1px solid var(--main-color);
}

.app {
    height: 100%;
    width: 1280px;
    padding: 2em;
    transition: padding .15s;
}

header {
    height: 4em;
    width: 100%;
    margin: 0 0 2em;
}

header nav {
    height: 100%;
    width: 100%;
    background-color: #eee;
    box-shadow: 0px 0px 15px #b8b8b8;
    border-radius: 5px;
    padding: 1em 2em;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    transition: .15;
}

header nav:hover {
    box-shadow: 0px 0px 15px #b8b8b8, inset 0px 0px 5px #b8b8b8;
}

header nav ul {
    display: flex;
    gap: 15px;
}

main {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section {
    height: auto;
    width: 100%;
    margin-bottom: 2.5em;
}

main section h2 {
    margin-bottom: .5em;
}

table {
    height: auto;
    width: 100%;
    border-spacing: 0;
    box-shadow: 0px 0px 15px #b8b8b8;
    border-radius: 3px;
    overflow: hidden;
}

table thead {
    color: var(--revert-font-color);
    background-color: rgb(149, 149, 149);
}

table th,
table td {
    padding: 1em;
    text-align: center;
}

table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

table tr {
    border-spacing: 5px 1rem;
}

form {
    min-width: 250px;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form .form-group:not(.form-checkbox) {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
}

form .form-group.form-checkbox {
    display: flex;
    gap: 5px;
}

form .form-group label,
form .form-group input:not([type="checkbox"]) {
    width: 100%;
}

form .form-group .form-errors {
    color: red;
    font-size: .85em;
}

input,
textarea,
select,
option {
    padding: .75em;
    border: 1px solid #eee;
    border-bottom: 2px solid #aaa;
    border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
    border-bottom: 2px solid var(--main-color);
}

button {
    cursor: pointer;
    min-width: 150px;
    padding: .75em;
    color: var(--revert-font-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
    transition: ease-in-out .15s;
}

button:disabled {
    cursor: not-allowed;
    font-style: italic;
    background: #bbb;
    border: 1px solid #bbb;
}

button:not(:disabled):hover {
    box-shadow: 0 0 4px 1px var(--main-color);
}

.list-center {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (max-width: 1280px) {
    .app {
        width: 100%;
        padding: 1em;
    }
}